
h1,h2,h3,p {
    font-weight: 200;
}

code{
    border-radius: 3px;
}

.content{
    height: 200px;
    width: 400px;
}

.stock-link{
    font-weight: 120;
    font-size: 13px;
    margin: 20px 20px 10px;
}

.adobe-stick{
    position: sticky;
    top:20px;
}

.stock-link-small{
    font-weight: 120;
    font-size: 10px;
    margin: 20px 50px 10px;
}

.stock-img{
    margin: 20px 20px 10px;
}